pcc-master
.*
*~
pcc_study.html
git使用规范.html
#Section1_Getting_started/Chapter9/9-10/__pycache__/restaurant.cpython-36.pyc
*__pycache__
#
# a/**/z matchs a/z, a/b/z, /a/b/c/z .etc.
#Section1_Getting_started/Chapter10/10.*/*.txt
#Section1_Getting_started/Chapter10/10.*/10-8/*.txt
Section1_Getting_started/Chapter10/**/*.txt
*.json
