pcc-master
.*
*~
pcc_study.html
git使用规范.html
#Section1_Getting_started/Chapter9/9-10/__pycache__/restaurant.cpython-36.pyc
__pycache__/
#
# a/**/z matchs a/z, a/b/z, /a/b/c/z .etc.
Section1_Getting_started/Chapter10/10.*/*.txt
Section1_Getting_started/Chapter10/10.*/10-8/*.txt
*.json
*tmp*

# Django source code
#E:/MyCodes/python/pcc/Section2_Projects/Program3/pizza/Django-2.0.2
#E:/MyCodes/python/pcc/Section2_Projects/Program3/pizza/Django-2.0.2.tar.gz
#Section2_Projects/Program3/pizza/Django-2.0.2
#Section2_Projects/Program3/pizza/Django-2.0.2.tar.gz


# virtual env
ll_env/
*_env/
# backup files
*.bak


# db
*.sqlite3


# migrations
migrations/


# learning_log
Section2_Projects/Program3/learning_log
MyProj/

# picture
*.png

# .svg files
Section2_Projects/Program2/15.4/*.svg
