<p>

    <!-- jump to homepage -->
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -

    <!-- show all topics -->
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -

    <!-- login and show user -->
    <!-- logout only authenticated user can see -->
    {% if user.is_authenticated %}
    Hello, {{user.username}}
    <a href="{% url 'users:logout' %}">log out</a>
    {% else %}
    <a href="{% url 'users:login' %}">log in</a>
    {% endif %}




</p>

{% block content %} {% endblock content %}